.App {
  margin: 10px;
  width: 100%;
}

.Home {
  color: #0d6efd;
  margin: 20px
}

.container {
  margin-top: 80px;
  align-items: center;
  justify-content: center
}

form {
  margin: 20px 30px
}

.form-label {
  color: #0d6efd
}

.navbar-top {
  position: fixed;
  z-index: 2;
  top: 0;
  width: 100%;
}

.collapse a {
  color: beige;
}

.pagination {
  align-items: center;
  justify-content: center;
}

.LoginList {
  width: 400px;
  right: 60px;
  position: fixed
}

@media only screen and (max-device-width: 900px) {
  .LoginList {
    display: none;
  }

}

@media only screen and (max-device-width: 570px) {
  .App {
    width: 95%;
  }

  .pagination {
    width: 50px;
    margin: auto;
    bottom: 20px;
  }
}